.goal {
  width: 302px;
  height: 72px;
  font-family: SFProText;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #000000;
  margin: 0 auto;
}

.margin-top-46 {
  margin-top: 46px;
}

.agenda {
  opacity: 0.7;
  font-family: SpoqaHanSans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #343a40;
  margin: 0 auto;
}

.margin-top-69 {
  margin-top: 69px;
}

.find-word {
  width: 314px;
  height: 21px;
  font-family: SpoqaHanSans;
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #343a40;
}

.input-group > .custom-select:not(:first-child), .input-group > .form-control:not(:first-child) {
  border-radius: 2px;
}

.search-input {
  border-color: #d9d9d9;
  border-width: 1px;
  margin: 10px 0px 10px 15px;
  min-height: 36px;
  border-radius: 4px;
  width: 100%;
  position: relative;
  padding-right: 45px;
}

.list-group-item {
  float: left;
}

.col ul li {
  float: left;
  padding: 5px;
  display: inline-block;
  margin-left: -1px;
  z-index: 1;
}

.rectangle {
  width: 214px;
  opacity: 0.39;
  border-radius: 10px;
  background-color: #d8d8d8;
  margin: 0;
}

.word-content {
  list-style: none;
  padding: 0;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}

.search-btn {
  position: relative;
  width: auto;
  margin: -46px -14px 10px 10px;
  float: right;
  height: auto;
  font-family: SpoqaHanSans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #343a40;
}

.search-btn-container {
  float: left;
  width: 82%;
}

.word {
  font-family: SpoqaHanSans;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #343a40;
}

.word-container {
  padding: 25px 28px 25px 27px;
}

